header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #34495e;
}

header a{
    color: #ecf0f1;
}

.contenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espacio entre la imagen y el texto */
}

.contenedor img {
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: auto;
}