/* Hacer que aside sea un contenedor flex */
aside {
    display: flex;
    justify-content: flex-end; /* Empuja el contenido hijo a la derecha */
}
.container-sidebar {
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Logo centrado y ajustado */
.info-sitio .logo-centro {
    display: block;
    max-height: 100px;
    margin: 0 auto 15px auto;
    border-radius: 8px;
}

/* Título del centro */
.info-sitio h3 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/* Horario y datos */
.info-sitio p {
    margin: 10px;
    color: #2c3e50;
    margin-bottom: 10px;
    padding-left: 35px;
}

/* Mantener estilos del bloque */
aside .info-secundaria {
    background: #f5f7fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin: 35px;
}

/* Datos destacados con span */
aside .info-secundaria span {
    font-weight: 600;
    color: #1d3e6f;
}

/* Botón configuración para admin */
aside .info-secundaria .btn-configurar {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #1d3e6f;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    transition: background-color 0.3s ease;
}

aside .info-secundaria .btn-configurar:hover {
    background-color: #1d3e6f;
    cursor: pointer;
}
